<main>
    <div class="landing-content">
        <h1>Instagram Brand Builder</h1>
        <h3>Track Your Engagement, Get In On Trends Early, and Build Your Brand!</h3>
        <img class="landing-img" src='/landing-img.png'>
        <div class="ack-container">
            <h4>Created By</h4>
            <ul>
                <li>Adam Nguyen (adammn2)</li>
                <li>Jason Kang (jasondk2)</li>
                <li>Vincent Chou (vfchou2)</li>
                <li>Jack Craig (jvcraig2)</li>
            </ul>
        </div>
    </div>
</main>