<link rel="stylesheet" type="text/css" href="/css/posts.css" />
<main>
    <h1>Posts CRUD Dashboard</h1>
    <h4>Number of Posts: {{numPosts}}</h4>
    <div class="block-container">
        <div>
            <form>
                <h4>Create Post</h4>
            </form>
        </div>
        <div>
            <form>
                <h4>Get Post</h4>
            </form>
        </div>
        <div>
            <form>
                <h4>Update Post</h4>
            </form>
        </div>
        <div>
            <form>
                <h4>Delete Post</h4>
            </form>
        </div>
    </div>
</main>