* {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    margin: 0;
    background-color: wheat;
}
.site-header {
    display: grid;
    grid-template-columns: 200px 200px;
    background-color: orangered;
    padding: 20px;
    grid-gap: 20px;
}
.site-header-action, .site-header-action:visited {
    padding: 5px;
    background-color: tan;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.site-header-action:hover {
    background-color:palegoldenrod;
    color: darkslategray;
}
.ack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.ack-container li, .ack-container ul {
    list-style-type: none;
    padding: 0;
}
.ack-container h4 {
    margin: 0;
}
.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-img {
    max-height: 50vh;
}
.crud-container {
    padding: 20px;
}
.data-value {
    font-size: 24px;
    color: purple;
}
.crud-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    min-width: 700px;
}
.main-crud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.results-window {
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 700px;
    border: 1px solid black;
}
.results-window-table {
    width: 100%;
}
.label-group {
    display: flex;
    flex-direction: column;
}
.label-group label {
    font-size: 16px;
}
.block-container {
    padding: 20px;
}
.error-msg {
    color: red;
}